{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <div class="container mt-4 primary-text">
        <div class="jumbotron text-center" style="background-color:#FDC642;">
            <h1 class="display-4">About Us</h1>
            <p class="lead">
                Welcome to Study Companion, your ultimate academic companion designed to elevate your learning
                experience.
            </p>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <div class="p-4 bg-light rounded shadow">
                    <h2 class="mb-3" style="color: #4445A3">Our Mission</h2>
                    <p>
                        At Study Companion, we strive to create a comprehensive and user-friendly platform that
                        simplifies
                        academic management. Our mission is to equip students with the tools they need to stay
                        organized,
                        collaborate effectively, and excel in their studies.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-4 bg-light rounded shadow">
                    <h2 class="mb-3" style="color: #4445A3">Our Vision</h2>
                    <p>
                        Our vision is to revolutionize the way students approach their learning experience. We envision
                        a
                        world where academic success is accessible to all, and our app serves as a catalyst for
                        knowledge
                        sharing, collaboration, and personal growth.
                    </p>
                </div>
            </div>
        </div>


        <div class="row text-center mt-5">
            <div class="col-md-6 mx-auto" style="max-width: 350px">
                <div class="p-4 bg-light rounded shadow">
                    <h2 class="mb-4" style="color: #4445A3; font-size: 1.8rem;">Our Values</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light border-0">Passion for Learning</li>
                        <li class="list-group-item bg-light border-0">Empowering Education</li>
                        <li class="list-group-item bg-light border-0">Collaboration and Support</li>
                        <li class="list-group-item bg-light border-0">Innovation and Progress</li>
                        <li class="list-group-item bg-light border-0">User-Centric Design</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="text-center mt-5">
            <h2>Join us on the Journey</h2>
            <p>
                Let's embark on this transformative journey together and make academic excellence an
                attainable reality for all.
            </p>
            <a href="/register/" class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div>

{% endblock %}

