{% extends "base.html" %}

{% block title %}
    Add New Task
{% endblock %}

{% block content %}
    <div class="container">

        <h1 class="text-center primary-text my-5">Add New Task</h1>
        <form method="post" style="max-width: 400px" class="mx-auto">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Name <span class="text-danger">*</span></label>
                    {{ form.name }}
            </div>
            <div class="mb-3">
                <label class="form-label">Assignment <span class="text-danger">*</span></label>
                        {{ form.assignment }}
            </div>
            <div class="mb-3"> <span class="text-danger">These fields are required.</span></div>

            <p class="text-success mt-4">When you add a Task, by default it is not finished. When you finish it
                and want to change that you can do so by editing the task. :)</p>
            <div class="row">
                <div class="col-md-6 text-left">
                    <a href="{% url 'assignments' %}" class="btn btn-secondary mt-2">Cancel</a>
                </div>
                <div class="col-md-6 text-right">
                    <input type="submit" value="Save" class="btn btn-primary mt-2">
                </div>
            </div>
        </form>
    </div>
{% endblock %}