{% extends "base.html" %}

{% block title %}
    Add Reminder
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <div class="container mt-4">
            <div class="mx-auto" style="max-width: 600px">
                <h1 class="text-center primary-text mb-5">Add Reminder</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Name <span class="text-danger">*</span></label>
                        {{ form.name }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description <span class="text-danger">*</span></label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Course <span class="text-danger">*</span></label>
                        {{ form.course }}
                    </div>
{#                    <div class="mb-3">#}
{#                        <label class="form-label">Deadline <span class="text-danger">*</span></label>#}
{#                        {{ form.deadline }}#}
{#                    </div>#}
                    <div class="mb-3">
                        <label class="form-label">Deadline <span class="text-danger">*</span></label>
                        <input type="text" class="form-control datetimepicker" id="id_deadline" name="deadline" required>
                    </div>
                    <div class="mb-3"> <span class="text-danger">These fields are required.</span></div>
                    <div class="row">
                        <div class="col-md-6 text-left mt-2">
                            <a href="{% url 'reminders' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary mt-2">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <script>
            document.addEventListener("DOMContentLoaded", function() {
                flatpickr(".datetimepicker", {
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    minDate: "today",
                    defaultHour: 12,
                    defaultMinute: 0,
                });
            });
        </script>

    {% else %}
        {% include "unauthenticated_message.html" %}
    {% endif %}
{% endblock %}


