{% extends "base.html" %}

{% block title %}
    Ask a Question
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="mx-auto" style="max-width: 600px">
                <h1 class="text-center primary-text mb-5">Ask a Question</h1>
                <form method="post" style="max-width: 400px" class="mx-auto">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Title <span class="text-danger">*</span></label>
                            {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Course <span class="text-danger">*</span></label>
                            {{ form.course }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description <span class="text-danger">*</span></label>
                            {{ form.description }}
                    </div>
                    <div class="mb-3"> <span class="text-danger">These fields are required.</span></div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <a href="{% url 'group_study' %}" class="btn btn-secondary mt-2">Cancel</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="submit" value="Post" class="btn btn-primary mt-2">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% else %}
        {% include "unauthenticated_message.html" %}
    {% endif %}
{% endblock %}