{% extends "base.html" %}

{% block content %}
    <div class="text-center my-5">
        <h1 class="primary-text"> My Assignments </h1>
    </div>

    <!-- Updated code with card layout -->
    <div class="mx-5 px-4">
        <div class="row">
            {% for assignment in assignments %}
                <div class="col-md-4 mb-4">
                    <div class="card navcolor-border">
                        <h4 class="card-header navcolor text-white">{{ assignment.name }}</h4>
                        <div class="card-body">
                            <h5 class="card-title">{{ assignment.course }}</h5>
                            <p class="card-text">Due Date: {{ assignment.due_date }}</p>
                            <p class="card-text">{{ assignment.description }}</p>
                            <div class="text-right">
                                <a href="{% url 'assignment_details' name=assignment.name %}" class="btn btn-link">See more</a>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <a href="{% url 'add_assignment_task' %}" class="btn btn-primary mx-5 px-4">Add New Assignment</a>

{% endblock %}