{% extends "base.html" %}

{% block title %}
    Edit Assignment
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <a data-toggle="modal" data-target="#cancelEditModal" class="btn btn-outline-secondary">Go Back</a>
            <h1 class="text-center primary-text my-5">Edit Assignment</h1>
            <form method="post" style="max-width: 400px" class="mx-auto">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Name <span class="text-danger">*</span></label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Course <span class="text-danger">*</span></label>
                    {{ form.course }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Description <span class="text-danger">*</span></label>
                    {{ form.description }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Progress <span class="text-danger">*</span></label>
                    {{ form.progress }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Due date <span class="text-danger">*</span></label>
                    <input type="text" class="form-control datepicker" id="id_due_date" name="due_date">
                </div>
                <div class="mb-3"><span class="text-danger">These fields are required.</span></div>

                <p class="text-success">Note: If you want to edit the tasks for this assignment, go to previous page and
                    click on the task you want to edit.</p>
                <div class="text-right">
                    <input type="submit" value="Save" class="btn btn-primary mt-2">
                </div>
            </form>
        </div>

        <div class="modal fade" id="cancelEditModal" tabindex="-1" role="dialog" aria-labelledby="cancelEditModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelEditModalLabel">Confirm Cancel</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancel editing? Any unsaved changes will be lost.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Continue Editing
                        </button>
                        <a href="{% url 'assignment_details' name=assignment.id %}" class="btn btn-danger">Yes, Cancel
                            Editing</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                flatpickr(".datepicker", {
                    dateFormat: "Y-m-d",
                    minDate: "today"
                });
            });
        </script>

    {% else %}
        {% include "unauthenticated_message.html" %}
    {% endif %}
{% endblock %}