{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="text-center">
                <h1 class="primary-text"> Group Study </h1>
                <div class="d-flex justify-content-center align-items-center my-3">
                    <span class="text-warning">Having difficulties? Other people are here to help!</span>
                    <a href="{% url 'ask_question' %}" class="btn btn-primary ml-2">Ask a Question</a>
                </div>
            </div>

            <div class="row justify-content-center">
                {% for question in questions %}
                    <div class="col-md-8">
                        <div class="card mb-3 navcolor-border shadow" style="border-width: 4px; border-radius:15px;">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center flex-column justify-content-center">
                                    <img src="http://127.0.0.1:8000/static/user.png" class="img-fluid rounded-start"
                                         alt="User Image" style="max-width: 100px; max-height: 100px;">
                                    <p class="card-text primary-text ml-2">{{ question.user }} </p>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title primary-text">{{ question.title }}</h5>
                                        <p class="card-text primary-text"><strong>Course:</strong> {{ question.course }}
                                        </p>
                                        <p class="card-text primary-text"><strong>Problem
                                            description:</strong> {{ question.description }}</p>
                                        <a href="{% url 'chat' %}" class="btn btn-success">Start a
                                            Conversation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>

    {% else %}
        {% include "unauthenticated_message.html" %}
    {% endif %}
{% endblock %}