{% extends 'base.html' %}

{% block title %}
    Study Companion
{% endblock %}

{% block content %}
    <div class="text-center my-5">
        <h1 class="primary-text"> Your ultimate all-in-one study companion! </h1>
        <h2 class="text-warning"> Elevate your learning experience. </h2>
    </div>

    <!-- Updated code with card layout -->
    <div class="mx-5 px-4">
        <div class="row">
            {% for comment in comments %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <!-- Add the image here, or set a default image URL if available -->
                                <img src="" class="img-fluid rounded-start"
                                     alt="User Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ comment.user.first_name }}</h5>
                                    <p class="card-text">{{ comment.description }}</p>
                                    <p class="card-text">
                                        {% for i in comment.stars %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}